RewriteEngine On

# Serve existing files and directories as-is
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Forward other requests to the front controller
RewriteRule ^ index.php [QSA,L]
